<h1><%= @transaction.car_type %> Transaction</h1>

<div>First Visit? <%= @transaction.first_visit %></div>
<br>
<div>Bed Down? <%= @transaction.bed_down %></div>
<br>
<div>Mud in Bed? <%= @transaction.mud_in_bed %></div>
<br>
<div>Overall Price: <%= @transaction.price %></div>